<li class="task task-<%= task.id %> list-group-item">
  <span class="badge"><%= task.priority %></span>
  <%= button_to "X", task_path(task), method: :delete, class: "btn btn-primary btn-xs", form_class: "delete-task", remote: true %>
  <%= task.description %>
</li>
