<li class="task task-<%= task.id %>">
  <p>Task: <%= task.description %></p>
  <p>Priority: <%= task.priority %></p>
  <%= button_to "X", task_path(task), method: :delete, class: "btn btn-primary", form_class: "delete-task", remote: true %>
</li>
