<legend>Search Lists and Tasks by name/description</legend>
<form class="search-form" method="get" action="/admin/search">
  <input type="text" name="keyword">
  <input type="submit" name="commit" value="Search" class="btn btn-primary">
  <div class="form-group">
    <label><input type="checkbox" class="search-option" name="include[task]" value="true"> Tasks</label><br>
    <label><input type="checkbox" class="search-option" name="include[list]" value="true"> Lists</label><br>
  </div>
</form>
