<legend>Task Results</legend>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th colspan="3">
        <label class="select-label">Filter by priority: <select id="task-filter">
          <option value="all" selected>all</option>
          <option value="low">low</option>
          <option value="medium">medium</option>
          <option value="high">high</option>
        </select></label>
        <label> Include deleted: <input type="checkbox" class="deleted task" value="true"></label>
      </th>
    </tr>
    <tr>
      <th>Task</th>
      <th>Priority</th>
      <th class="right-align">Deleted</th>
    </tr>
  </thead>
  <tbody class="task-table">
    <% tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
        <td><%= task.priority %></td>
        <td class="right-align">
          <% unless task.deleted_at.nil? %>
            ☓
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
