<div class="row well">
  <div class="col-xs-12">
    <h1 class="center-header">Welcome, Supreme Leader!</h1>
  </div>
  <div class="col-xs-4">
    <%= render 'users' %>
  </div>
  <div class="col-xs-4">
    <%= render 'totals' %>
  </div>
  <div class="col-xs-4">
    <%= render 'active' %>
  </div>
</div>
