<div class="row">
  <div class="col-lg-6">
    <div class="row">
      <%= render 'shared/about' %>
    </div>
    <div class="row">
      <%= render 'form' %>
    </div>
  </div>
  <div class="col-lg-6">
    <%= render 'shared/error_messages' %>
  </div>
</div>
