<div class="col-xs-12">
  <p>
    Is your life in total shambles? Do you ask yourself what you should be doing every minute of every day? Does the pointlessness of life overcome your every thought?
  </p>
  <p>
    Then you need List-A-Task!! List-A-Task is guaranteed to solve all your problems! That's right, ALL OF THEM! Sign up, make some lists, make some tasks, and watch your life practically complete itself!
  </p>
  <p>
    Made by <a href="https://github.com/matthewbillienyc" target="_blank">Matthew Billie</a>
  </p>
  <p class="tiny-text right-align">
    * List-A-Task guarantees nothing and takes no responsibility for your problems and/or issues
  </p>
</div>
